[submodule "thermosteam"]
    path = thermosteam
    url = https://github.com/CDIdeveloper/thermosteam.git
    branch = master

[submodule "How2STEAM"]
    path = How2STEAM
    url = https://github.com/CDIdeveloper/How2STEAM.git
    branch = master

[submodule "Bioindustrial-Park"]
    path = Bioindustrial-Park
    url = https://github.com/CDIdeveloper/Bioindustrial-Park.git
    branch = master
